/* Reset de márgenes y rellenos por defecto */
body h1, body h2, body h3, body p {
    margin: 0;  /* Ajusta según sea necesario o según el estilo de tu página */
}

/* Estilos para el cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ajusta según sea necesario */
    margin: 0;
    overflow: auto;
    position: relative;
    z-index: 0;
}


#particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

/* Ajustes para el cuerpo y el HTML */
body, html {
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 0px; /* ajusta según sea necesario */
    background-color: #F0F9FF;
    
}
.redes-sociales{
    position: relative;
    z-index: 2;
}

.container {
    flex: 1;
    margin-top: 80px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}


.contenedor2 {
    flex: 1;
    margin-top: 80px;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #112A4A;
}

/* Estilos para el logotipo en la barra de navegación */
.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

/* Estilos para los enlaces en la barra de navegación */
.navbar-nav .nav-link {
    color: #ffffff;
    margin-right: 15px;
}

/* Estilos para el botón de búsqueda */
.navbar-form {
    display: flex;
    align-items: center;
}

/* Estilos para el formulario de búsqueda */
.navbar-form input {
    margin-right: 10px;
}

/* Estilos para el pie de página */
.footer {
    background-color: #112A4A;
    color: #DDA337;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

/* Estilos para los enlaces del pie de página */
.footer a {
    color: #D5A877;
}

/* index */
#carouselExampleIndicators {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    height: 600px; /* Ajusta la altura según sea necesario */
    overflow: hidden; /* Evita que las imágenes se desborden */
}

.carousel-item {
    height: 100%; /* Ajusta la altura de cada elemento del carrusel */
}

.d-img{
    height: 100%;
    object-fit: cover;
}



/* ESTILOS DE EL FORMULARIO DE AGREGAR CLASE */


/* Estilos para el formulario en general */
.custom-form {
    margin-top: 3rem;
}

/* Estilos para las filas del formulario */
.custom-form .row {
    margin-bottom: 3rem; /* Espacio entre las filas */
}

/* Estilos para los grupos de formularios */
.custom-form .form-group {
    margin-bottom: 1rem; /* Espacio entre los elementos dentro de un grupo de formularios */
}

/* Estilos para las etiquetas de los campos de formulario */
.custom-form .col-form-label {
    font-weight: bold; /* Hace que las etiquetas de los campos de formulario sean más visibles */
}

/* Estilos para el botón de envío */
.custom-form .btn-primary {
    background-color: #6C3483; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 0.5rem 1.5rem; /* Relleno del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    /* Otros estilos según tus preferencias */
}

/* Estilos para la clase de alerta de éxito */
.custom-form .alert-success {
    margin-top: 1rem; /* Espacio superior de la alerta de éxito */
    padding: 1rem; /* Relleno de la alerta de éxito */
    background-color: #d4edda; /* Color de fondo de la alerta de éxito */
    border: 1px solid #c3e6cb; /* Borde de la alerta de éxito */
    border-radius: 5px; /* Bordes redondeados */
    color: #155724; /* Color del texto de la alerta de éxito */
}

/* Ajusta el espacio entre el botón "Volver al inicio" y el contenido superior e inferior */
.btn-volver {
    background-color: #3498DB!important; 
    /*margin-bottom: 1.5rem;  Espacio entre el botón y el contenido inferior */
    /*margin-top: 5rem;  Espacio entre el botón y el contenido superior */
}

.titulo {
   margin-bottom: 1.5rem;  /* Espacio entre el botón y el contenido inferior */
   margin-top: 5rem;  /* Espacio entre el botón y el contenido superior */
}

.boton {
    margin-bottom: 1.5rem;  /* Espacio entre el botón y el contenido inferior */
    margin-top: 5rem;  /* Espacio entre el botón y el contenido superior */
 }
/* Estilos para el botón de envío */
.btn-enviar {
    background-color: #6C3483; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 0.5rem 1.5rem; /* Relleno del botón */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    /* Otros estilos según tus preferencias */
    
}

/* Estilos para la etiqueta de saludo */
.saludo-label {
    color: #6C3483; /* Color del texto */
    font-size: 1.2em; /* Tamaño de la fuente */
    /* Otros estilos según tus preferencias */
}

/* Estilos para el formulario */
#claseForm {
    /* max-width: 400px; Ancho máximo del formulario */
    margin: 0 auto; /* Centrar el formulario en la página */
    padding: 15px; /* Relleno interno del formulario */
    background-color: #f5f5f5; /* Color de fondo del formulario */
    border: 1px solid #f5f5f5; /* Borde del formulario */
    border-radius: 8px; /* Bordes redondeados del formulario */
}

/* Estilos para los campos ocultos */
#claseForm input[type="hidden"] {
    /* Puedes agregar estilos específicos para los campos ocultos aquí si es necesario */
    display: block; /* Cambiar a "block" si quieres que ocupen su propia línea */
    margin-bottom: 20px; /* Añadir un margen inferior para separar de otros elementos */
    color: #ffffff; /* Color del texto para campos ocultos */
    /* Otros estilos según tus preferencias */
}

/* Estilos para el contenedor de información del evento */
#informacionEvento {
    margin-top: 20px; /* Espacio superior entre el formulario y el contenedor de información */
    padding: 10px; /* Relleno interno del contenedor de información */
    background-color: #2980B9; /* Color de fondo del contenedor de información */
    border: 1px solid #ccc; /* Borde del contenedor de información */
    border-radius: 4px; /* Bordes redondeados del contenedor de información */
}

/* Estilos para los elementos internos del contenedor de información */
#informacionEvento p ,h3{
    margin: 0; /* Elimina los márgenes predeterminados de los párrafos dentro del contenedor de información */
    color: #ffffff; /* Color del texto dentro del contenedor de información */
    margin-top: 1rem;
}




/* Estilos generales para la sección */
.section-first {
    padding: 80px 0; /* Ajusta el relleno superior e inferior según sea necesario */
}

/* Estilos para las imágenes en las columnas */
.col-lg-6 img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Ajusta el radio de borde según sea necesario */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
}

/* Estilos para el contenido de la segunda columna */
.box-width-lg-470 {
    max-width: 470px;
    margin: 0 auto;
}


/* Estilos para las pestañas */
.nav-tabs {
    border-bottom: 2px solid #007BFF; /* Cambia el color de la línea inferior según sea necesario */
}

.nav-link {
    font-size: 16px;
    color: #333; /* Cambia el color del texto según sea necesario */
}

.nav-link.active {
    color: #007BFF; /* Cambia el color del texto activo según sea necesario */
}



/* Estilos para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.button-secondary {
    color: #fff;
    background-color: #28a745; /* Cambia el color de fondo según sea necesario */
}

.button-black-outline {
    color: #333;
    background-color: transparent;
    border: 2px solid #333; /* Cambia el color del borde según sea necesario */
}

.button:hover {
    opacity: 0.8; /* Ajusta la opacidad al pasar el ratón por encima */
}


/* Estilos para el contenedor de noticias */
.noticias-container {
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el título de noticias */
.noticias-container h2 {
    color: #333; /* Color del texto */
    font-size: 24px; /* Tamaño de la fuente */
    margin-bottom: 20px; /* Espaciado inferior */
}

/* Estilos para las noticias individuales */
.noticia {
    margin-bottom: 20px; /* Espaciado inferior */
    border-bottom: 1px solid #ddd; /* Línea divisoria */
    padding-bottom: 20px; /* Espaciado interno inferior */
}

/* Estilos para el título de la noticia */
.noticia h3 {
    color: #555; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilos para el resumen de la noticia */
.noticia p {
    color: #777; /* Color del texto */
    font-size: 16px; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilos para el enlace "Leer más" */
.noticia a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold; /* Negrita */
    transition: color 0.3s; /* Transición suave de color */
}

.noticia a:hover {
    color: #0056b3; /* Color del enlace al pasar el mouse */
}






