{% load static %}
<footer class="footer mt-auto py-3">
    <div class="contacto">
        <p>Email: info@tudominio.com</p>
        <p>Teléfono: (123) 456-7890</p>
        <p>Dirección: Calle Principal #123, Ciudad</p>
     </div>
     
     <div class="redes-sociales">
        <a href="https://facebook.com/tudominio" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://twitter.com/tudominio" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://instagram.com/tudominio" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
     </div>
    <div  style="color: #DDA337;">
        © 2024 SPARTA CLUB DE NATACION S.A
        <a href="mailto: martinalejandrotorres77@gmail.com" style="color: #D5A877;">GRUPO: MateCoders.UTN</a>
    </div>
    
</footer>